.cart {
  display: flex;
  flex-direction: column;
  padding: 0px 100px 0px 100px;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.total {
  background-color: #fafafb;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding: 50px 100px 50px 100px;
}
