@import 'styles/breakpoints';

.cart {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 50px 50px;
  gap: 30px;
  width: 100%;
  justify-content: center;
  min-height: 300px;

  .total {
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
  }

  .finally {
    background-color: #0d7f00;
    border-radius: 10px;
    border: none;
    width: 60%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 25px;
    margin: 0 auto;
  }
}