@import 'styles/breakpoints';

.categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  h1 {
    color: #ff7300;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    width: 100%;

    >div {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 0px 0px 50px 0px;

      h1 {
        color: #42464d;
      }
    }

    >div:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    img {
      max-width: 80%;
    }
  }
}
