@import "styles/breakpoints";

.product {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 15px;
  border-radius: 4px;
  text-align: center;

  &-name {
    padding: 10px 16px 0px 16px;

    h2 {
      color: #42464d;
      font-size: 18px;
    }

    p {
      color: #444;
    }
  }

  &-image {
    margin: 0 auto;
  }

  &-score {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
    line-height: 0.1em;
    display: flex;
    flex-direction: column;
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-price {
    font-weight: bold;
    align-items: center;
    background-color: #ff7300;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 10px;
  }

  &-actions {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }

  &-action {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productInCart {
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

  .amount {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;

    svg {
      cursor: pointer;
    }
  }

  .product-score {
    display: none;
  }

  .product-info {
    margin-left: auto;
    margin-right: 0;
  }

  .product-actions {
    gap: 50px;
    justify-content: flex-end;
    padding: 0 50px;
  }

  @media (max-width: $mobile-sm) {
    flex-direction: unset;
    justify-content: center;
    text-align: center;
    width: 100%;

    .product-info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .product-actions {
      gap: 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-action {
      padding: 10px 10px 0px 10px;
    }
  }
}
