@import 'styles/breakpoints';

.header {
  padding: 50px 100px 25px 100px;
  display: grid;
  grid-template-areas: 'texto imagem';
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  @media(max-width: $tablet) {
    gap: 20px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'texto' 'imagem';
    text-align: center;
  }

  h1 {
    color: #ff7300;
    font-size: 28px;
  }

  &-text {
    color: #42464d;;
    grid-area: texto;
    font-size: 20px;
  }

  &-button {
    display: flex;

    @media(max-width: $tablet) {
      justify-content: center;
    }
  }

  &-image {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    align-self: center;
    grid-area: imagem;
    justify-self: center;
    overflow: hidden;
    max-height: 230px;
    max-width: 100%;
  }
}
