.footer {
  position: relative;
  align-items: center;
  background-color: #ff7300;
  bottom: 0;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  div {
    display: flex;
    gap: 50px;
  }

  span {
    color: white;
    font-size: 18px;
    text-align: right;
  }
}
